tmp/**
**/*.tmp
**/*.old
**/.tags*
**/*fuse*
**/*.log
logs/**
nohup*
subl_*
Pipfile.lock

# all hidden files, except...
.*
# !.gitignore
# !.gitmodules
# !.vscode
# !.bin

__*



**/node_modules/**
.sass-cache

*.sublime-workspace
# *.sublime-project

**/students/**

# custom
ES*json
